<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="conteiner">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <ng-container  *ngIf="(accountService.currentUser$ | async)">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Massages</a>
                    </li>
                </ng-container>
            </ul>

            <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
                <div class="dropdown-toggle text-light" dropdownToggle>Welcome {{module.userName | titlecase}}</div>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>

            <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" class="formLogin"
                (ngSubmit)="login()" autocomplete="off">
                <input name="userName" [(ngModel)]="module.userName" class="form-control" type="search"
                    placeholder="Usarname">
                <input name="password" [(ngModel)]="module.password" class="form-control" type="password"
                    placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>